.App {
  min-height: 100vh;
  background-image: url(brick.jpg);
  background-size: 100%;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 30%;
  border: none;
  padding: 10px;
  border-radius: 999px;
  margin-right: 10px;
}

.search-button {
  background: black;
  border: none;
  padding: 10px 20px;
  color: #fff9b0;
  border-radius: 999px;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}